body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a06868;
}

.contenedor {
    position: relative;
    width: 500px;
    height: 500px;
}

.circulo {
    width: 200px;
    height: 200px;
    position: absolute;
}

.c1 {
    border-radius: 50% 0 50% 50%;
    top: 200px;
    left: 0;
    background-color: lightblue;
}

.c2 {
    border-radius: 50% 0 50% 50%;
    top: 100px;
    left: 100px;
    background-color: lightgreen;
}

.c3 {
    border-radius: 50%;
    top: 0;
    left: 200px;
    background-color: lightpink;
}

nav ul {
  list-style: none;       /* Quita los puntos */
  padding: 0;             /* Elimina el espacio interior */
  margin: 10px 0;         /* Separa del dibujo */
  text-align: left;     
}

nav ul li {
  margin: 10px 0;         /* Espacio entre cada link */
}

nav ul li a {
  text-decoration: none;  /* Saca el subrayado */
  color: white;           
  font-size: 18px;        /* Ajusta el tamaño de letra */
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffd700;         /* Un dorado al pasar el mouse */
}